PORT=3000
NODE_ENV=development
REDIS_URL=redis://localhost:6379
OPEN_AI_KEY=sk-placeholder-key-for-example
PROXY_SERVER_URL =http://user:pass@proxyserver:port
ADMIN_API_KEY=admin-secret-key-123
RAPIDAPI_PROXY_SECRET=your-random-secret-string-here
