PORT=3000
NODE_ENV=development
REDIS_URL=redis://localhost:6379
OPEN_AI_KEY=sk-placeholder-key-for-example
ADMIN_API_KEY=auJxPjdeyEdue1FifmSRrWNPNeZCRO8UrCZ8wtSDsWm
RAPIDAPI_PROXY_SECRET=your-random-secret-string-here
