PORT=3000
NODE_ENV=development
REDIS_URL=redis://localhost:6379
OPEN_AI_KEY=sk-placeholder-key-for-example

RAPIDAPI_PROXY_SERVER_URL=http://username:password@host:port
PROXY_USAGE_LIMIT=500ing-here
PROXY_SERVER_URL=...